body {
    font-family: 'Optima', 'Segoe UI' ,'Helvetica', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
}

nav {
    text-align: center;
}

nav ul {
    font-family: 'Optima', 'Segoe UI' ,'Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-family: 'Georgia','Serif';
}

h2 {
    font-family: 'Optima', 'Segoe UI' ,'Helvetica', 'Sans-Serif';
}

h3 {
    font-size: 14px;
}

p {
    color: #333;
    font-size: 14px;
    font-family:'Helvetica', 'Arial', 'Sans-serif';
}

#posts {
    background-color: Gainsboro;
}

