<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            {% include header.html %} 
            <h1> Lucy at KU </h1>
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}">Home</a></li>
                    <li><a href="{{ site.baseurl }}/about">About</a></li>
                </ul>
            </nav>
        </head>
        <body>
            
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
        </body>
    </html>
