<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            {% include header.html %} 
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="{{ BASE_PATH }}/">Home</a></li>
                    <li><a href="{{ BASE_PATH }}/about">About</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
        </body>
    </html>
